@page
@model DotNet.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Cadastro de Usuario";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-page="/Usuarios/Criar">Criar novo usuário</a>
</p>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Senha</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Senha</td>
                <td>@usuario.Email</td>
                <td>
                    <a asp-page="/Usuarios/Detalhar" asp-route-id="@usuario.Id" class="btn btn-info btn-sm">Detalhar</a>
                    <a asp-page="/Usuarios/Editar" asp-route-id="@usuario.Id" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
